form{
    align-content: center;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  align-content: center;
}

/* Full-width input fields */
input[type=text] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #c7c4c4;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr 
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */

.delete {
  opacity:1;
  height:60px ;
width: 100px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
h1{
    text-align: center;
}